*{
    padding: 0;
    margin: 0;
    background-color: rgb(235, 231, 231);
}
.main-circle{
    display: flex;
    padding-top: 10px;
    padding-left: 20px;
}
.circle{
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 50px;

}
.circle1{
    height: 30px;
    width: 30px;
    background-color: yellow;
    border-radius: 50px;
    margin-left: 10px;
}
.circle2{
    height: 30px;
    width: 30px;
    background-color: rgb(3, 168, 3);
    border-radius: 50px;
    margin-left: 10px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
    height: 10vh;
    box-shadow: 10px 5px 10px 10px rgb(252, 252, 252);
    cursor: pointer;
}
h2{
    margin-left: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}
ul{
    display: flex;
    list-style-type: none;
    font-size: large;
    font-weight: bold;
    
}
li a{
    padding: 0 30px;
}
ul :hover{
    color: rgb(3, 168, 3);
}
#btn1{
    background-color: rgb(3, 168, 3);
    padding: 10px 20px;
    border-color: rgb(3, 168, 3);
    border-radius: 2px;
    color: white;
    margin-right: 40px;
}
.main-box{
    display: flex;
    justify-content: space-around;
}
.box{
    height: 90vh;
    width: 40%;
    margin-top: 120px;
    margin-right: -250px;
    

}
.box1{
    height: 90vh;
    width: 40%;
    background-color: rgb(3, 168, 3);
    margin-right: -200px;
    }
img{
    height: 60vh;
    width: 32%;
    margin-right: -460px;
    margin-top: 70px;
    border-radius: 5px;
    z-index: 2;
    
}    
h5{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    font-size: 3.5rem;
    color: rgb(3, 168, 3);
    padding-top: 5px;
    
}
h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 1.5px;
    padding-top: 5px;
}
p{
  padding-top: 10px;
}
#btn2{
    background-color: rgb(3, 168, 3);
    color: white;
    padding: 8px 25px;
    border-radius: 2px;
    border-color: rgb(3, 168, 3);
    margin-top: 15px;
}